*
!README.md
!ranger/**
!bat/**
!.gitignore
!.gitmodules
!configure.sh
!dunst/**
!wezterm/**
!suckless/**
!Docs/**
!i3/**
!sway/**
!waybar/**
!Scripts/**
!nvim
!vim/**
!fish/**
fish/functions/**
!Commands/**
!*/
__pycache__/
