*
!README.md
!bat/**
!.gitignore
!.gitmodules
!configure.sh
!gnome_terminal_settings.txt
!dunst/**
!wezterm/**
!suckless/**
!Docs/**
!i3/**
!Scripts/**
!gtk-*/**
gtk-3.0/bookmarks
gtk-2.0/gtkfilechooser.ini
!nautilus/**
!kdeglobals
!nvim
!vim/**
!JetBrains/PyCharmCE*/settings/**
!ideavimrc
!ipython/profile_default/ipython_config.py
!ipython/profile_default/startup/keybindings.py
!fish/**
fish/functions/**
!fish/functions/fish_prompt.fish
!fish/functions/fish_user_key_bindings.fish
!Commands/**
!*/
!yazi/**
!picom/**
__pycache__/
